/*
Main Section
*/

.banner {
  height: 740px;
  background-color: #ffffff;
  border-radius: 30px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.41);
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.221),
      rgba(0, 0, 0, 0.589)
    ),
    url("../assets/images/back.jpg");
  background-size: cover;
  padding-top: 500px;
}

.banner-text {
  font-size: 20px;
  color: white;
  margin-left: 30px;
  margin-top: 30px;
}

/*
Form
*/

.form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}

.form h1 {
  margin-bottom: 40px;
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

input[type="text"] {
  background-color: white;
  height: 45px;
  width: 100%;
  margin-right: 10px;
  padding: 10px;
}
.form-search {
  border: 2px solid #ef4323;
  width: 90%;
  background-color: var(--nav-bg);
  padding: 10px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.41);
}
.search {
  display: none;
}

::placeholder {
  color: rgb(149, 149, 149);
}

/*
Article
*/

article {
  text-align: center;
}

.card-layout {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.41);
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.589)
    ),
    url("../assets/images/playmat.png");
}

.project-holder img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.card-name {
  color: white;
}

.card-holder {
  background-color: #d9d9d9;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.card-holder:hover {
  transition: all 300ms ease-in;
  transform: scale(1.02);
  z-index: 1;
}

article img:hover {
  scale: 1.01;
}

main {
  padding: 0;
}
