@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700&family=Cabin:wght@400;500;600&display=swap");

:root {
  --nav-bg: #3a485f;
  --body-bg: #71819c;
  --body-bg2: #58667e;
}

body {
  background-color: var(--body-bg);
  height: 100vh;
  font-family: "Cabin", sans-serif;
}

/*
Navigation
*/

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: var(--nav-bg);
  padding-right: 50px;
  padding-left: 50px;
  box-shadow: 0px 10px 23px 0px rgba(58, 72, 95, 1);
}

ul img {
  height: auto;
  max-width: 240px;
}

ul {
  display: flex;
  align-items: center;
  gap: 100px;
  font-weight: 400;
  color: white;
}
li {
  background-color: transparent;
}

li > a:hover {
  transition: all 0.25s;
  text-decoration: underline;
}

li > .active {
  color: #fe8b01;
  text-decoration: underline;
}

/*
Button style
*/

button {
  font-family: "Cabin", sans-serif;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 10px;
  background-color: #fe8b01;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: rgb(230, 54, 44);
  box-shadow: 0 0 20px #ff6f6f50;
  transform: scale(1.01);
}

button:active {
  background-color: #ce4b37;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

/*
Main Section
*/

main {
  padding: 45px;
}

.banner {
  height: 609px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.41);
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.589)
    ),
    url("../assets/images/alexeykruglov.jpg");
  background-size: cover;
  padding-top: 400px;
}

h2 {
  font-size: 72px;
  background: -webkit-linear-gradient(#fdba66, #fd6d71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  margin-left: 30px;
}

.banner-text {
  font-size: 20px;
  color: white;
  margin-left: 30px;
  margin-top: 30px;
}

h5 {
  color: white;
  margin-left: 30px;
  font-weight: lighter;
  margin-top: 30px;
  opacity: 0.5;
}

/*
Footer
*/

footer,
footer section,
.socialsFooter {
  display: flex;
}
footer,
.socialsFooter {
  flex-direction: column;
}

footer {
  background-color: var(--nav-bg);
  height: 30%;
  margin-top: 5rem;
  color: white;
  gap: 4rem;
}

footer section {
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

footer p {
  text-align: center;
}
/*
Form
*/

.form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-bg2);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.41);
}

.form h1 {
  margin-bottom: 40px;
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

input[type="text"] {
  background-color: white;
  height: 40px;
  width: 80vw;
  margin-right: 10px;
  padding: 10px;
}

::placeholder {
  color: rgb(149, 149, 149);
}

/*
Project container
*/

.project-banner {
  text-align: center;
  background-color: #3a485f;
  border-radius: 20px;
  padding: 30px;
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.762)
    ),
    url("../assets/images/alexeykruglov.jpg");
  /* filter: blur(4px); */
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  margin-top: 40px;
  justify-content: space-evenly;
}

.project-holder {
  background-color: var(--body-bg2);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.41);
}

.project-holder:hover {
  scale: 1.1;
  transition: ease-in 4ms;
}

.project {
  width: 300px;
  height: 200px;
  background-size: cover;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: end;
}

.fortnite {
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(3, 3, 3, 0.799)
    ),
    url(../assets/images/fortnite.jpg);
  border-radius: 10px;
}
.fifa {
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(3, 3, 3, 0.799)
    ),
    url(../assets/images/fifa.jpg);
  border-radius: 10px;
}
.lego {
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(3, 3, 3, 0.799)
    ),
    url(../assets/images/lego.jpg);
  border-radius: 10px;
}
.one-piece {
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(3, 3, 3, 0.799)
    ),
    url(../assets/images/one-piece.jpg);
  border-radius: 10px;
}
.lotr {
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(3, 3, 3, 0.799)
    ),
    url(../assets/images/lotr.jpg);
  border-radius: 10px;
}

.jjk {
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(3, 3, 3, 0.799)
    ),
    url(../assets/images/jjk.jpg);
  border-radius: 10px;
}
.mtg {
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(3, 3, 3, 0.799)
    ),
    url(../assets/images/mtg.jpg);
  border-radius: 10px;
}
.pokemon {
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(3, 3, 3, 0.799)
    ),
    url(../assets/images/pokemon.jpg);
  border-radius: 10px;
}

.project > h4 {
  font-size: 30px;
  background: -webkit-linear-gradient(#fdba66, #fd6d71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  margin-left: 10px;
}
.project > p {
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
}

/*
Article
*/

article {
  text-align: center;
}

.card-layout {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project-holder img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.card-holder {
  background-color: #f6f7f2;
  width: fit-content;
  padding: 10px;
  box-shadow: 0px 2px 6px 5px rgb(18, 80, 179);
  border-radius: 10px;
}

article img:hover {
  scale: 1.01;
}

@media screen and (max-width: 888px) {
  li a {
    display: none;
  }
  ul {
    justify-content: space-between;
    gap: 20px;
  }

  nav {
    padding-right: 50px;
    padding-left: 50px;
  }

  h2 {
    font-size: 52px;
  }
  .search {
    width: 80vw;
    margin-top: 10px;
  }
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 40vw;
  height: 40vh;
  background-color: rgb(221, 221, 221);
  overflow-y: hidden;
  z-index: 1000;
  top: 50%;
  left: 30%;
  transform: translate(0, -50%);
  visibility: hidden;
}

.alert > h3 {
  font-size: 32px;
  background: -webkit-linear-gradient(#fdba66, #fd6d71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  margin-left: 30px;
}

.alert {
  background-color: white;
  height: 35vh;
  width: 35vw;
  border-radius: 20px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.41);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
